@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
/* breakpoint
===============================================*/
/* key color
===============================================*/
/* font
===============================================*/
/* media query (mobile first)
// 引数$breakpointに渡された値をブレイクポイントにしたmedia query設定を出力する（モバイルファースト）
===============================================*/
/* media query (pc first)
// 引数$breakpointに渡された値をブレイクポイントにしたmedia query設定を出力する（PCファースト）
===============================================*/
/* media query (for IE11)
// IE用
===============================================*/
/* title
===============================================*/
.main-about__title, .main-skills__title, .main-works__title, .main-contact__title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px), print {
  .main-about__title, .main-skills__title, .main-works__title, .main-contact__title {
    font-size: 3.6rem;
    margin-bottom: 80px;
  }
}

/* 全体
===============================================*/
html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, typesquare, sans-serif;
  color: #707070;
  font-size: 1.6em;
  line-height: 1.6;
  width: 100%;
}

a {
  color: #707070;
  display: block;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  overflow: hidden;
}

.inview-fade {
  opacity: 0;
  transition: opacity 2s;
}

.dn {
  display: none !important;
}

.di {
  display: inline !important;
}

.dib {
  display: inline-block !important;
}

.db {
  display: block !important;
}

@media screen and (min-width: 576px), print {
  .dn-sm {
    display: none !important;
  }
  .di-sm {
    display: inline !important;
  }
  .dib-sm {
    display: inline-block !important;
  }
  .db-sm {
    display: block !important;
  }
}

@media screen and (min-width: 768px), print {
  .dn-md {
    display: none !important;
  }
  .di-md {
    display: inline !important;
  }
  .dib-md {
    display: inline-block !important;
  }
  .db-md {
    display: block !important;
  }
}

@media screen and (min-width: 1024px), print {
  .dn-lg {
    display: none !important;
  }
  .di-lg {
    display: inline !important;
  }
  .dib-lg {
    display: inline-block !important;
  }
  .db-lg {
    display: block !important;
  }
}

@media screen and (min-width: 1200px), print {
  .dn-xl {
    display: none !important;
  }
  .di-xl {
    display: inline !important;
  }
  .dib-xl {
    display: inline-block !important;
  }
  .db-xl {
    display: block !important;
  }
}

/* header
===============================================*/
.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

@media screen and (min-width: 1024px), print {
  .header {
    background-color: #fff;
  }
}

.header-nav {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 20px auto;
}

@media screen and (min-width: 1024px), print {
  .header-nav {
    margin: 40px auto 36px;
  }
}

.header-nav__drawer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

@media screen and (min-width: 1024px), print {
  .header-nav__drawer {
    display: none;
  }
}

.header-nav__toggle {
  display: block;
  z-index: 101;
  cursor: pointer;
  transition: ease .5s;
  /* open時設定 */
}

.header-nav__toggle_icon {
  position: relative;
  display: block;
  height: 4px;
  width: 28px;
  background: #e55258;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.header-nav__toggle_icon:nth-child(1) {
  top: 0;
}

.header-nav__toggle_icon:nth-child(2) {
  margin: 5px 0;
}

.header-nav__toggle_icon:nth-child(3) {
  top: 0;
}

@media screen and (min-width: 1024px), print {
  .header-nav__toggle {
    display: none;
  }
}

.header-nav__toggle.open .header-nav__toggle_icon:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-nav__toggle.open .header-nav__toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.header-nav__toggle.open .header-nav__toggle_icon:nth-child(3) {
  top: -9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-nav__list {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 70px 0 0;
  text-align: center;
}

@media screen and (min-width: 1024px), print {
  .header-nav__list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    padding: 0;
  }
}

.header-nav__item {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px), print {
  .header-nav__item {
    margin-right: 20px;
    margin-bottom: 0;
    transition: opacity .3s;
  }
  .header-nav__item:last-of-type {
    margin-right: 0;
  }
  .header-nav__item:hover {
    opacity: .6;
  }
}

/* main
===============================================*/
.main {
  /* mainvisual */
  /* about 自己紹介 */
  /* skills できること */
  /* works 制作一覧 */
  /* contact お問合わせ */
}

.main-hero {
  background-color: #e3b6a1;
  width: 100%;
  height: 100vh;
  position: relative;
}

.main-hero__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 480px;
}

@media screen and (min-width: 1024px), print {
  .main-hero__logo {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.main-hero__name {
  width: 100%;
  margin: 0 auto 20px;
}

@media screen and (min-width: 768px), print {
  .main-hero__name {
    margin-bottom: 50px;
  }
}

.main-hero__line {
  width: 30%;
  margin: 0 auto;
}

@media screen and (min-width: 768px), print {
  .main-hero__line {
    width: 180px;
  }
}

.main-inner {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
}

.main-about {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px), print {
  .main-about {
    margin-bottom: 160px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-about {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

.main-about__element {
  position: relative;
}

.main-about__image {
  width: calc(35% - 20px);
  margin-right: 20px;
  max-width: 100px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px), print {
  .main-about__image {
    display: none;
  }
}

.main-about__image_md {
  display: none;
}

@media screen and (min-width: 768px), print {
  .main-about__image_md {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 220px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 1024px), print {
  .main-about__image_md {
    max-width: 300px;
  }
}

.main-about__profile {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background-color: #e3b6a1;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

@media screen and (min-width: 768px), print {
  .main-about__profile {
    padding: 50px 25px 50px 140px;
    top: 70px;
    left: 100px;
    width: calc(100% - 100px);
  }
}

@media screen and (min-width: 1024px), print {
  .main-about__profile {
    padding: 50px 50px 50px 150px;
    left: 200px;
    width: calc(100% - 200px);
  }
}

.main-about__wrap {
  width: calc(70% - 20px);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px), print {
  .main-about__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
  }
}

.main-about__name {
  font-size: 2rem;
  line-height: 1;
  text-align: justify;
  text-justify: inter-ideograph;
  font-weight: normal;
  font-style: normal;
  font-family: "Lato", "Helvetica", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px), print {
  .main-about__name {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-about__name {
    font-size: 3.2rem;
  }
}

.main-about__name span {
  font-size: 1.3rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-weight: normal;
  font-style: normal;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, typesquare, sans-serif;
  vertical-align: top;
}

@media screen and (min-width: 768px), print {
  .main-about__name span {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px), print {
  .main-about__name span {
    font-size: 2rem;
  }
}

.main-about__snslist {
  display: flex;
}

.main-about__snsitem {
  width: 20px;
  margin-right: 15px;
}

.main-about__snsitem:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 768px), print {
  .main-about__snsitem {
    width: 36px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-about__snsitem {
    width: 46px;
  }
}

.main-about__text {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.main-about__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px), print {
  .main-about__text {
    font-size: 1.6rem;
  }
}

.main-skills {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px), print {
  .main-skills {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-skills {
    margin-bottom: 200px;
  }
}

.main-skills__block {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px), print {
  .main-skills__block {
    display: flex;
    align-items: flex-start;
  }
}

.main-skills__block:last-of-type {
  margin-bottom: 0;
}

.main-skills__box {
  width: 100%;
  background-color: #e3b6a1;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px), print {
  .main-skills__box {
    max-width: calc(40% - 15px);
    flex-basis: calc(40% - 15px);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .main-skills__block:nth-of-type(2n) .main-skills__box {
    order: 2;
    margin-right: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-skills__box {
    padding: 30px 15px;
  }
  .main-skills__block:nth-of-type(2n) .main-skills__box {
    order: 1;
    margin-right: 30px;
    margin-left: 0;
  }
}

.main-skills__table {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  height: 150px;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px), print {
  .main-skills__table {
    width: 80%;
    font-size: 1.6rem;
  }
}

.main-skills__list {
  border-bottom: 1px dotted #fff;
}

.main-skills__list:last-of-type {
  border: none;
}

.main-skills__item {
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

@media screen and (min-width: 768px), print {
  .main-skills__item {
    width: 60%;
  }
}

@media screen and (min-width: 1024px), print {
  .main-skills__item {
    width: 180px;
  }
}

.main-skills__level {
  text-align: center;
  vertical-align: middle;
}

.main-skills__wrap {
  width: 100%;
}

@media screen and (min-width: 768px), print {
  .main-skills__wrap {
    max-width: 60%;
    flex-basis: 60%;
  }
  .main-skills__block:nth-of-type(2n) .main-skills__wrap {
    order: 1;
  }
}

@media screen and (min-width: 1024px), print {
  .main-skills__block:nth-of-type(2n) .main-skills__wrap {
    order: 2;
  }
}

.main-skills__icon {
  display: none;
  width: 50px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px), print {
  .main-skills__icon {
    display: block;
  }
}

.main-skills__text {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px), print {
  .main-skills__text {
    font-size: 1.6rem;
  }
}

.main-works {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px), print {
  .main-works {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-works {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 768px), print {
  .main-works__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
  }
}

.main-works__item {
  margin-bottom: 40px;
}

.main-works__item:last-of-type {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 768px), print {
  .main-works__item {
    flex-basis: calc((100% / 3) - 50px - .01px);
    max-width: calc((100% / 3) - 50px - .01px);
    margin: 0 25px 0;
  }
  .main-works__item:nth-of-type(3n) {
    margin-bottom: 50px;
  }
}

.main-works__link {
  position: relative;
}

@media screen and (min-width: 1024px), print {
  .main-works__link::before, .main-works__link::after {
    opacity: 0;
    transition: opacity .5s;
  }
  .main-works__link::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .main-works__link::after {
    content: "詳しく見る";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .main-works__link:hover::before, .main-works__link:hover::after {
    opacity: 1;
  }
  .main-works__link:hover span::before, .main-works__link:hover span::after {
    opacity: 1;
  }
}

.main-works__arrow {
  width: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1024px), print {
  .main-works__arrow::before, .main-works__arrow::after {
    content: "";
    display: block;
    position: absolute;
    background: #e55258;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
  }
  .main-works__arrow::before {
    width: 52px;
    height: 1px;
    z-index: 1;
  }
  .main-works__arrow::after {
    width: 1px;
    height: 10px;
    top: -8px;
    right: 0;
    transform: rotate(-45deg);
  }
}

.main-contact {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px), print {
  .main-contact {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-contact {
    margin-bottom: 200px;
  }
}

.main-contact__wrap {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px), print {
  .main-contact__wrap {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px), print {
  .main-contact__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.main-contact__block {
  width: 100%;
}

@media screen and (min-width: 1024px), print {
  .main-contact__block {
    flex-basis: calc((100% / 2) - 15px - .01px);
    max-width: calc((100% / 2) - 15px - .01px);
    margin-right: 15px;
  }
  .main-contact__block:last-of-type {
    margin-right: 0;
  }
}

.main-contact__item input, .main-contact__item textarea {
  font-size: 1.6rem;
}

.main-contact__item input {
  height: 50px;
}

.main-contact__item textarea {
  height: 150px;
}

.main-contact__head {
  display: inline-block;
  margin-bottom: 5px;
}

.main-contact__form {
  border: 1px solid #707070;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px), print {
  .main-contact__form_mail, .main-contact__form_message {
    margin-bottom: 0;
  }
}

.main-contact__btn {
  display: block;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  background-color: #e55258;
  padding: 5px 50px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.main-contact input:focus,
.main-contact textarea:focus {
  border: 2px solid #e55258;
}

/* footer
===============================================*/
.footer {
  width: 100%;
  background-color: #e3b6a1;
  padding: 30px;
  box-sizing: border-box;
}

.footer-copyright {
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
