@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
/* breakpoint
===============================================*/
/* key color
===============================================*/
/* font
===============================================*/
/* media query (mobile first)
// 引数$breakpointに渡された値をブレイクポイントにしたmedia query設定を出力する（モバイルファースト）
===============================================*/
/* media query (pc first)
// 引数$breakpointに渡された値をブレイクポイントにしたmedia query設定を出力する（PCファースト）
===============================================*/
/* media query (for IE11)
// IE用
===============================================*/
/* title
===============================================*/
.main-about__title, .main-skills__title, .main-works__title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 80px;
}

/* 全体
===============================================*/
html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, typesquare, sans-serif;
  color: #707070;
  font-size: 1.6em;
  line-height: 1.6;
}

a {
  color: #707070;
  display: block;
}

img {
  display: block;
  width: 100%;
}

.inview-fade {
  opacity: 0;
  transition: opacity 2s;
}

.dn {
  display: none !important;
}

.di {
  display: inline !important;
}

.dib {
  display: inline-block !important;
}

.db {
  display: block !important;
}

@media screen and (min-width: 576px), print {
  .dn-sm {
    display: none !important;
  }
  .di-sm {
    display: inline !important;
  }
  .dib-sm {
    display: inline-block !important;
  }
  .db-sm {
    display: block !important;
  }
}

@media screen and (min-width: 768px), print {
  .dn-md {
    display: none !important;
  }
  .di-md {
    display: inline !important;
  }
  .dib-md {
    display: inline-block !important;
  }
  .db-md {
    display: block !important;
  }
}

@media screen and (min-width: 1024px), print {
  .dn-lg {
    display: none !important;
  }
  .di-lg {
    display: inline !important;
  }
  .dib-lg {
    display: inline-block !important;
  }
  .db-lg {
    display: block !important;
  }
}

@media screen and (min-width: 1200px), print {
  .dn-xl {
    display: none !important;
  }
  .di-xl {
    display: inline !important;
  }
  .dib-xl {
    display: inline-block !important;
  }
  .db-xl {
    display: block !important;
  }
}

/* header
===============================================*/
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

.header-nav {
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 36px;
}

.header-nav__drawer {
  display: none;
}

.header-nav__list {
  display: flex;
  justify-content: flex-end;
}

.header-nav__item {
  margin-right: 20px;
}

/* main
===============================================*/
.main {
  /* mainvisual */
  /* about 自己紹介 */
  /* skills できること */
  /* works 制作一覧 */
}

.main-hero {
  background-color: #e3b6a1;
  width: 100%;
  height: 100vh;
  position: relative;
}

.main-hero__logo {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 480px;
}

.main-hero__name {
  width: 100%;
  margin: 0 auto 50px;
}

.main-hero__line {
  width: 180px;
  margin: 0 auto;
}

.main-inner {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
}

.main-about {
  margin-top: 200px;
  margin-bottom: 200px;
}

.main-about__element {
  position: relative;
}

.main-about__image {
  width: 100%;
  max-width: 300px;
  position: absolute;
  z-index: 1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.main-about__profile {
  position: relative;
  width: calc(100% - 200px);
  max-width: 1000px;
  background-color: #e3b6a1;
  top: 70px;
  left: 200px;
  padding: 50px 70px 50px 150px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

.main-about__name {
  font-size: 3.2rem;
  line-height: 1;
  text-align: justify;
  text-justify: inter-ideograph;
  font-weight: normal;
  font-style: normal;
  font-family: "Lato", "Helvetica", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  margin-bottom: 40px;
}

.main-about__name span {
  font-size: 2rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-weight: normal;
  font-style: normal;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, typesquare, sans-serif;
  vertical-align: top;
}

.main-about__snslist {
  display: flex;
}

.main-about__snsitem {
  width: 46px;
  margin-right: 20px;
}

.main-about__snsitem:last-of-type {
  margin-right: 0;
}

.main-about__text {
  width: 100%;
  margin-bottom: 20px;
}

.main-about__text:last-of-type {
  margin-bottom: 0;
}

.main-skills {
  margin-bottom: 200px;
}

.main-skills__block {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px), print {
  .main-skills__block {
    display: flex;
    align-items: flex-start;
  }
}

.main-skills__block:last-of-type {
  margin-bottom: 0;
}

.main-skills__box {
  width: 100%;
  background-color: #e3b6a1;
  padding: 30px 15px;
}

@media screen and (min-width: 768px), print {
  .main-skills__box {
    max-width: calc(40% - 15px);
    flex-basis: calc(40% - 15px);
    margin-right: 30px;
  }
}

.main-skills__table {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  height: 150px;
}

.main-skills__list {
  border-bottom: 1px dotted #fff;
}

.main-skills__list:last-of-type {
  border: none;
}

.main-skills__item {
  text-align: center;
  vertical-align: middle;
  width: 180px;
}

.main-skills__level {
  text-align: center;
  vertical-align: middle;
}

.main-skills__wrap {
  width: 100%;
}

@media screen and (min-width: 768px), print {
  .main-skills__wrap {
    max-width: 60%;
    flex-basis: 60%;
  }
}

.main-skills__icon {
  width: 50px;
  margin-bottom: 15px;
}

.main-skills__text {
  width: 100%;
  position: relative;
}

.main-works {
  margin-bottom: 200px;
}

@media screen and (min-width: 768px), print {
  .main-works__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-works__item {
  margin-bottom: 50px;
}

.main-works__item:last-of-type {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 768px), print {
  .main-works__item {
    flex-basis: calc((100% / 3) - 50px - .01px);
    max-width: calc((100% / 3) - 50px - .01px);
    margin: 0 25px 0;
  }
  .main-works__item:nth-of-type(3n) {
    margin-bottom: 50px;
  }
}

.main-works__link {
  position: relative;
}

@media screen and (min-width: 1024px), print {
  .main-works__link::before, .main-works__link::after {
    content: "";
    display: block;
    position: absolute;
    background: #e55258;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
  }
  .main-works__link::before {
    width: 50px;
    height: 1px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .main-works__link::after {
    width: 1px;
    height: 10px;
    top: 57.2%;
    left: 57%;
    transform: rotate(-45deg);
  }
  .main-works__link:hover:before, .main-works__link:hover:after {
    opacity: 1;
  }
  .main-works__link:hover span {
    opacity: 1;
  }
}

.main-works__link span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .5s;
}

@media screen and (min-width: 1024px), print {
  .main-works__link span::after {
    content: "詳しく見る";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
