@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import "./foundation/variable";
@import "./foundation/mixin";
@import "./foundation/extend";
@import "./foundation/base";
@import "./page/works";

/* header
===============================================*/
.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  @include mq-min(lg){
    background-color: $color-white;
  }
  &-nav {
    width: calc(100% - 30px);
    max-width: 1200px;
    margin: 20px auto;
    @include mq-min(lg){
      margin: 40px auto 36px;
    }
    &__drawer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      @include mq-min(lg){
        display: none;
      }
    }
    &__toggle {
      display: block;
      z-index: 101;
      cursor: pointer;
      transition: ease .5s;
      $cc: &;
      &_icon {
        position: relative;
        display: block;
        height: 4px;
        width: 28px;
        background: $color-accent;
        -webkit-transition: ease .5s;
        transition: ease .5s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          margin: 5px 0;
        }
        &:nth-child(3) {
          top: 0;
        }
      }
      @include mq-min(lg) {
        display: none;
      }
      /* open時設定 */
      &.open {
        #{$cc}_icon {
          &:nth-child(1) {
            top: 9px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            opacity: 0;
          }
          &:nth-child(3) {
            top: -9px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__list {
      display: none;
      background-color: rgba($color-white, 0.8);
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      margin: 0;
      padding: 70px 0 40px;
      text-align: center;
      @include mq-min(lg){
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: relative;
        padding: 0;
      }
      &.menu-pc {
        display: flex!important;
      }
    }
    &__item {
      font-size: 1.4rem;
      margin-bottom: 30px;
      position: relative;
      @include mq-min(lg){
        margin-right: 20px;
        margin-bottom: 0;
        // transition: opacity .3s;
        &:last-of-type {
          margin-right: 0;
        }
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $color-accent;
          opacity: 0;
          transition: opacity .5s;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* main
===============================================*/
.main {
  /* mainvisual */
  &-hero {
    background-color: $color-main;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 80px;
    @include mq-min(lg){
      margin-bottom: 200px;
    }
    &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      max-width: 480px;
      @include mq-min(lg){
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 100%;
      }
    }
    &__name {
      width: 100%;
      margin: 0 auto 20px;
      @include mq-min(md){
        margin-bottom: 50px;
      }
    }
    &__line {
      width: 30%;
      margin: 0 auto;
      @include mq-min(md){
        width: 180px;
      }
    }
  }

  &-inner {
    width: calc(100% - 30px);
    max-width: 1200px;
    margin: 0 auto;
  }

  /* about 自己紹介 */
  &-about {
    padding-top: 60px;
    margin-top: -60px;
    margin-bottom: 80px;
    @include mq-min(md){
      margin-bottom: 160px;
    }
    @include mq-min(lg){
      padding-top: 100px;
      margin-top: -100px;
      margin-bottom: 230px;
    }
    &__title {
      @extend %title;
    }
    &__element {
      position: relative;
    }
    &__image {
      width: calc(35% - 20px);
      margin-right: 20px;
      max-width: 100px;
      margin-bottom: 20px;
      @include mq-min(md){
        display: none;
      }
      &_md {
        display: none;
        @include mq-min(md){
          display: block;
          position: absolute;
          z-index: 1;
          width: 100%;
          max-width: 220px;
          box-shadow: 4px 4px 8px rgba(#000, .3);
        }
        @include mq-min(lg){
          max-width: 300px;
        }
      }
    }
    &__profile {
      position: relative;
      width: 100%;
      max-width: 1000px;
      background-color: $color-main;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      color: $color-white;
      @include mq-min(md){
        padding: 50px 25px 50px 140px;
        top: 70px;
        left: 100px;
        width: calc(100% - 100px);
      }
      @include mq-min(lg){
        padding: 50px 50px 50px 150px;
        left: 200px;
        width: calc(100% - 200px);
      }
    }
    &__wrap {
      width: calc(70% - 20px);
      margin-bottom: 20px;
      @include mq-min(md){
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
      }
    }
    &__name {
      font-size: 2rem;
      line-height: 1;
      text-align: justify;
      text-justify: inter-ideograph;
      font-weight: normal;
      font-style: normal;
      font-family: $_font-en;
      margin-bottom: 10px;
      @include mq-min(md){
        font-size: 2.4rem;
        margin-bottom: 40px;
      }
      @include mq-min(lg){
        font-size: 3.2rem;
      }
      span {
        font-size: 1.3rem;
        text-align: justify;
        text-justify: inter-ideograph;
        font-weight: normal;
        font-style: normal;
        font-family: $_font-ja;
        vertical-align: top;
        @include mq-min(md){
          font-size: 1.6rem;
        }
      }
    }
    &__snslist {
      display: flex;
    }
    &__snsitem {
      width: 20px;
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;
      }
      @include mq-min(md){
        width: 36px;
        margin-right: 20px;
      }
      @include mq-min(lg){
        width: 46px;
        transition: opacity .5s;
        &:hover {
          opacity: .7;
        }
      }
    }
    &__text {
      width: 100%;
      font-size: 1.4rem;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
      @include mq-min(lg){
        font-size: 1.6rem;
      }
    }
  }

  /* skills できること */
  &-skills {
    padding-top: 60px;
    margin-top: -60px;
    margin-bottom: 80px;
    @include mq-min(md){
      margin-bottom: 100px;
    }
    @include mq-min(lg){
      padding-top: 100px;
      margin-top: -100px;
      margin-bottom: 200px;
    }
    $cc: &;
    &__title {
      @extend %title;
    }
    &__block {
      margin-bottom: 40px;
      @include mq-min(md){
        display: flex;
        align-items: flex-start;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    &__box {
      width: 100%;
      background-color: $color-main;
      padding: 15px;
      box-sizing: border-box;
      margin-bottom: 20px;
      @include mq-min(md){
        max-width: calc(40% - 15px);
        flex-basis: calc(40% - 15px);
        margin-right: 30px;
        margin-bottom: 0;
        #{$cc}__block:nth-of-type(2n) &{
          order: 2;
          margin-right: 0;
          margin-left: 30px;
        }
      }
      @include mq-min(lg){
        padding: 30px 15px;
        #{$cc}__block:nth-of-type(2n) &{
          order: 1;
          margin-right: 30px;
          margin-left: 0;
        }
      }
    }
    &__table {
      width: 90%;
      margin: 0 auto;
      color: $color-white;
      height: 150px;
      font-size: 1.2rem;
      @include mq-min(lg){
        width: 80%;
        font-size: 1.6rem;
      }
    }
    &__list {
      border-bottom: 1px dotted $color-white;
      &:last-of-type {
        border: none;
      }
    }
    &__item {
      text-align: center;
      vertical-align: middle;
      width: 50%;
      font-family: $_font-en;
      @include mq-min(md){
        width: 60%;
      }
      @include mq-min(lg){
        width: 180px;
      }
    }
    &__level {
      text-align: center;
      vertical-align: middle;
    }
    &__wrap {
      width: 100%;
      @include mq-min(md){
        max-width: 60%;
        flex-basis: 60%;
        #{$cc}__block:nth-of-type(2n) &{
          order: 1;
        }
      }
      @include mq-min(lg){
        #{$cc}__block:nth-of-type(2n) &{
          order: 2;
        }
      }
    }
    &__icon {
      display: none;
      width: 50px;
      margin-bottom: 15px;
      @include mq-min(lg){
        display: block;
      }
    }
    &__text {
      width: 100%;
      position: relative;
      font-size: 1.4rem;
      @include mq-min(lg){
        font-size: 1.6rem;
      }
    }
  }

  /* works 制作一覧 */
  &-works {
    padding-top: 60px;
    margin-top: -60px;
    margin-bottom: 80px;
    @include mq-min(md){
      margin-bottom: 100px;
    }
    @include mq-min(lg){
      padding-top: 100px;
      margin-top: -100px;
      margin-bottom: 200px;
    }
    &__title {
      @extend %title;
      margin-bottom: 20px;
      @include mq-min(lg){
        margin-bottom: 40px;
      }
    }
    &__text {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 40px;
      @include mq-min(lg){
        font-size: 1.6rem;
        margin-bottom: 80px;
      }
    }
    &__list {
      @include mq-min(md){
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px;
      }
    }
    &__item {
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0!important;
      }
      @include mq-min(md){
        flex-basis: calc((100% / 3) - 50px - .01px);
        max-width: calc((100% / 3) - 50px - .01px);
        margin: 0 25px 0;
        &:nth-of-type(3n) {
          margin-bottom: 50px;
        }
      }
    }
    &__link {
      position: relative;
      @include mq-min(lg){
        &::before,
        &::after {
          opacity: 0;
          transition: opacity .5s;
        }
        &::before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#000, .6);
        }
        &::after {
          content: "詳しく見る";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $color-white;
        }
        &:hover {
          &::before,
          &::after {
            opacity: 1;
          }
          span {
            &::before,
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
    &__arrow {
      width: 50px;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      @include mq-min(lg){
        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          background: $color-accent;
          backface-visibility: hidden;
          opacity: 0;
          transition: opacity .5s;
        }
        &::before {
          width: 52px;
          height: 1px;
          z-index: 1;
        }
        &::after {
          width: 1px;
          height: 10px;
          top: -8px;
          right: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  /* contact お問合わせ */
  &-contact {
    padding-top: 60px;
    margin-top: -60px;
    margin-bottom: 80px;
    @include mq-min(md){
      margin-bottom: 100px;
    }
    @include mq-min(lg){
      padding-top: 100px;
      margin-top: -100px;
      margin-bottom: 200px;
    }
    &__title {
      @extend %title;
    }
    &__wrap {
      margin-bottom: 20px;
      @include mq-min(md){
        margin-bottom: 50px;
      }
      @include mq-min(lg){
        display: flex;
        justify-content: space-between;
      }
    }
    &__block {
      width: 100%;
      @include mq-min(lg){
        flex-basis: calc((100% / 2) - 15px - .01px);
        max-width: calc((100% / 2) - 15px - .01px);
        margin-right: 15px;
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
    &__item {
      input, textarea {
        font-size: 1.6rem;
      }
      input {
        height: 50px;
      }
      textarea {
        height: 150px;
      }
    }
    &__head {
      display: inline-block;
      margin-bottom: 5px;
    }
    &__form {
      border: 1px solid #707070;
      padding: 10px;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 20px;
      @include mq-min(lg){
        &_mail, &_message {
          margin-bottom: 0;
        }
      }
    }
    &__btn {
      display: block;
      font-size: 1.8rem;
      text-align: center;
      color: $color-white;
      background-color: $color-accent;
      padding: 5px 50px;
      border-radius: 5px;
      margin: 0 auto;
      cursor: pointer;
      @include mq-min(lg){
        transition: opacity .5s;
        &:hover {
          opacity: .7;
        }
      }
    }
    input:focus,
    textarea:focus{
      border: 2px solid $color-accent;
    }
  }
}

/* footer
===============================================*/
.footer {
  width: 100%;
  background-color: $color-main;
  padding: 30px;
  box-sizing: border-box;
  &-copyright {
    font-size: 1.4rem;
    text-align: center;
    color: $color-white;
    margin: 0 auto;
  }
}