@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


// ==========================================================================
// 各種変数設定
// ==========================================================================

/* breakpoint
===============================================*/
// mobile first
$breakpoints-min: ( 
  'sm': 'screen and (min-width: 576px),print',
  'md': 'screen and (min-width: 768px),print',
  'lg': 'screen and (min-width: 1024px),print',
  'xl': 'screen and (min-width: 1200px),print',
) !default;

// pc first
$breakpoints-max: ( 
  'sm': 'screen and (max-width: 575px),print',
  'md': 'screen and (max-width: 767px),print',
  'lg': 'screen and (max-width: 1023px),print',
  'xl': 'screen and (max-width: 1200px),print',
) !default;

/* key color
===============================================*/
$color-main: #e3b6a1;
$color-accent: #e55258;
$color-text: #707070;
$color-white: #fff;

/* font
===============================================*/
$_font-en:'Lato','Helvetica',"游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif !default;
$_font-ja:"游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, typesquare, sans-serif !default;


// ==========================================================================
// mixin設定
// ==========================================================================

/* media query (mobile first)
// 引数$breakpointに渡された値をブレイクポイントにしたmedia query設定を出力する（モバイルファースト）
===============================================*/
@mixin mq-min($breakpoint: md) {
	@media #{map-get($breakpoints-min, $breakpoint)} {
		@content;
	}
}

/* media query (pc first)
// 引数$breakpointに渡された値をブレイクポイントにしたmedia query設定を出力する（PCファースト）
===============================================*/
@mixin mq-max($breakpoint: md) {
	@media #{map-get($breakpoints-max, $breakpoint)} {
		@content;
	}
}

/* media query (for IE11)
// IE用
===============================================*/
@mixin mq-ie() {
	@media screen and (-ms-high-contrast: none) {
		@content;
	}
}


// ==========================================================================
// extend設定
// ==========================================================================

/* title
===============================================*/
%title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 80px;
}


// ==========================================================================
// css設定
// ==========================================================================

/* 全体
===============================================*/
html {
  font-size: 62.5%;
}
body {
  font-family: $_font-ja;
  color: $color-text;
  font-size: 1.6em;
  line-height: 1.6;
}
a {
  color: $color-text;
  display: block;
}
img {
  display: block;
  width: 100%;
}
.inview-fade {
	opacity: 0;
	transition: opacity 2s;
}
.dn{display: none !important;}
.di{display: inline !important;}
.dib{display: inline-block !important;}
.db{display: block !important;}
@each $display in map-keys($breakpoints-min){
	@include mq-min($display){
		.dn-#{$display}{display: none !important;}
		.di-#{$display}{display: inline !important;}
		.dib-#{$display}{display: inline-block !important;}
		.db-#{$display}{display: block !important;}
	}
}

/* header
===============================================*/
.header {
  position: fixed;
  width: 100%;
  background-color: $color-white;
  z-index: 9999;
  &-nav {
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
    margin-bottom: 36px;
    &__drawer {
      display: none;
    }
    &__list {
      display: flex;
      justify-content: flex-end;
    }
    &__item {
      margin-right: 20px;
    }
  }
}

/* main
===============================================*/
.main {
  /* mainvisual */
  &-hero {
    background-color: $color-main;
    width: 100%;
    height: 100vh;
    position: relative;
    &__logo {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      width: 100%;
      max-width: 480px;
    }
    &__name {
      width: 100%;
      margin: 0 auto 50px;
    }
    &__line {
      width: 180px;
      margin: 0 auto;
    }
  }

  &-inner {
    width: calc(100% - 30px);
    max-width: 1200px;
    margin: 0 auto;
  }

  /* about 自己紹介 */
  &-about {
    margin-top: 200px;
    margin-bottom: 200px;
    &__title {
      @extend %title;
    }
    &__element {
      position: relative;
    }
    &__image {
      width: 100%;
      max-width: 300px;
      position: absolute;
      z-index: 1;
      box-shadow: 4px 4px 8px rgba(#000, .3);
    }
    &__profile {
      position: relative;
      width: calc(100% - 200px);
      max-width: 1000px;
      background-color: $color-main;
      top: 70px;
      left: 200px;
      padding: 50px 70px 50px 150px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: $color-white;
    }
    &__name {
      font-size: 3.2rem;
      line-height: 1;
      // letter-spacing: em;
      // text-indent: em;
      text-align: justify;
      text-justify: inter-ideograph;
      font-weight: normal;
      font-style: normal;
      font-family: $_font-en;
      margin-bottom: 40px;
      span {
        font-size: 2rem;
        // line-height: ;
        // letter-spacing: em;
        // text-indent: em;
        text-align: justify;
        text-justify: inter-ideograph;
        font-weight: normal;
        font-style: normal;
        font-family: $_font-ja;
        vertical-align: top;
      }
    }
    &__snslist {
      display: flex;
    }
    &__snsitem {
      width: 46px;
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__text {
      width: 100%;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  /* skills できること */
  &-skills {
    margin-bottom: 200px;
    &__title {
      @extend %title;
    }
    &__block {
      margin-bottom: 30px;
      @include mq-min(md){
        display: flex;
        align-items: flex-start;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    &__box {
      width: 100%;
      background-color: $color-main;
      padding: 30px 15px;
      @include mq-min(md){
        max-width: calc(40% - 15px);
        flex-basis: calc(40% - 15px);
        margin-right: 30px;
      }
    }
    &__table {
      width: 80%;
      margin: 0 auto;
      color: $color-white;
      height: 150px;
      @include mq-min(md){
      }
    }
    &__list {
      border-bottom: 1px dotted $color-white;
      &:last-of-type {
        border: none;
      }
    }
    &__item {
      text-align: center;
      vertical-align: middle;
      width: 180px;
    }
    &__level {
      text-align: center;
      vertical-align: middle;
    }
    &__wrap {
      width: 100%;
      @include mq-min(md){
        max-width: 60%;
        flex-basis: 60%;
      }
    }
    &__icon {
      width: 50px;
      margin-bottom: 15px;
    }
    &__text {
      width: 100%;
      position: relative;
    }
  }

  /* works 制作一覧 */
  &-works {
    margin-bottom: 200px;
    &__title {
      @extend %title;
    }
    &__list {
      @include mq-min(md){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    &__item {
      // max-width: 300px;
      // flex-basis: 300px;
      margin-bottom: 50px;
      &:last-of-type {
        margin-bottom: 0!important;
        margin-right: 0;
      }
      @include mq-min(md){
        flex-basis: calc((100% / 3) - 15px - .01px);
        // max-width: calc((100% / 3) - 15px - .01px);
        max-width: 300px;
        margin-right: 15px;
        margin-bottom: 0;
        &:nth-of-type(3n) {
          margin-right: 0;
          margin-bottom: 50px;
        }
      }
    }
    &__link {
      position: relative;
      @include mq-min(lg){
        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          background: $color-accent;
          backface-visibility: hidden;
          opacity: 0;
          transition: opacity .5s;
        }
        &::before {
          width: 50px;
          height: 1px;
          top: 60%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
        }
        &::after {
          width: 1px;
          height: 10px;
          top: 57.2%;
          left: 57%;
          transform: rotate(-45deg);
        }

        &:hover {
          &:before,
          &:after {
            opacity: 1;
          }
          span {
            opacity: 1;
          }
        }
      }
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(#000, .6);
        opacity: 0;
        transition: opacity .5s;
        @include mq-min(lg){
          &::after{
            content: "詳しく見る";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $color-white;
          }
        }
      }
    }
  }
}