// ==========================================================================
// extend設定
// ==========================================================================

/* title
===============================================*/
%title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 40px;
  @include mq-min(lg){
    font-size: 3.6rem;
    margin-bottom: 80px;
  }
}
